.carousel-item {
  height: 30vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#tCaption {
  color: #fff;
  font-size: 40px;
}

.nav-link:hover {
  color: white !important;
}

h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: #FF9900;
}

.tbl-content {
  height: 420px;
  overflow-x: auto;
  margin-top: 0px;
  /* border: 2px solid rgba(255, 255, 255, 0.6); */
}

th {
  padding: 10px 10px;
  text-align: left;
  font-weight: bolder;
  font-size: 14px;
  color: rgb(28, 5, 5);
  text-transform: uppercase;
}

.itemId {
  width: 40px;
}

td {
  padding: 10px;
  text-align: left;
  vertical-align: left;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  text-transform: lowercase;
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/* to create the backgorud image to use later *******************/

/* body {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */

body {
  background: linear-gradient(to right, #FF9900, #146eb4);
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 50px;
}

/* follow me template */

.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}

.made-with-love i {
  font-style: normal;
  color: #020202;
  font-size: 30px;
  position: relative;
  top: 2px;
}

.made-with-love a {
  color: #fff;
  text-decoration: none;
}

.p-5 {
  padding: 20px !important;
}

.made-with-love a:hover {
  text-shadow: #232F3E;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.navbar-light {
  background-color: #232F3E !important;
}

.navbar-light .navbar-brand {
  color: #FEBD69 !important;
}

.navbar-link {
  color: #FEBD69 !important;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #f39c12 !important;
}

.card {
  background-color: #02020262 !important;
}

#exampleFormControlSelect1 {
  background-color: transparent !important;
  width: 40px;
}